### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
GameDF = pd.read_csv(file_to_load)

print(f'{GameDF.count()}\n')
print(GameDF.dtypes)

GameDF.head()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
TotalPlayers = GameDF["SN"].unique()
len(TotalPlayers)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
Unique = GameDF["Item ID"].unique()
Average = GameDF["Price"].mean()
NumofPur = len(GameDF["Purchase ID"])
TotalRev = GameDF["Price"].sum()

SumTotal = pd.DataFrame([{
            'Unique Items':len(Unique), 
            'Avg Price':Average, 
            "Number of Purchases":NumofPur, 
            "Total Revenue":TotalRev
            }])

# SumTotal.style.format({
#             'Avg price': "${:,.2f}",  
#             'Total Revenue': '${:,.2f}'
#             })

SumTotal["Avg Price"] = SumTotal["Avg Price"].map("${:.2f}".format)
SumTotal["Total Revenue"] = SumTotal["Total Revenue"].map("${:.2f}".format)

SumTotal = SumTotal[["Unique Items","Avg Price","Number of Purchases","Total Revenue"]]

SumTotal

   Unique Items Avg Price  Number of Purchases Total Revenue
0           183     $3.05                  780      $2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
GenderVCount = GameDF["Gender"].value_counts()
GenderPercent = GenderVCount/GenderVCount.sum()

GenderDemo = pd.DataFrame({"Count": GenderVCount,
                        "Percentage": GenderPercent}) 
GenderDemo["Percentage"] = GenderDemo["Percentage"].map('{:.1%}'.format)

GenderDemo

                       Count Percentage
Male                     652      83.6%
Female                   113      14.5%
Other / Non-Disclosed     15       1.9%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
GenderGroup = GameDF.groupby(["Gender"])
GenTotalPurchase = GenderGroup["Price"].sum()
print(GenTotalPurchase)

GenAvgPurchase = GenderGroup["Price"].mean()
print(GenAvgPurchase)

GenTotalPurchase = GenderGroup["Price"].sum()
print(GenTotalPurchase)

GenderCount

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame